MIX_ENV="dev"

PROD_HOST="example.com"
STAG_HOST="example.com"

export GITHUB_CLIENT_ID=""
export GITHUB_CLIENT_SECRET=""

SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""

DEV_DB_USERNAME="postgres"
DEV_DB_PASSWORD="postgres"
DEV_DB_NAME="phoenix-starter-dev"

PROD_DB_URL=""
STAG_DB_URL=""

TEST_DB_USERNAME="postgres"
TEST_DB_PASSWORD="postgres"
TEST_DB_NAME="phoenix-starter-test"
